@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bouncing {
    0%, 100% {
        transform: translateY(20%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.bounce_opposite {
    animation: bouncing 1s infinite;
}


.container__{
   -ms-overflow-style: none; 
   scrollbar-width: none;
}

.container__::-webkit-scrollbar{
display: none;
 }
